.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: webkit-fill-available;
  max-width: 2000px;
  height: 4rem;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 50px
}

#header.dark {
  background-color:  hsl(209, 23%, 22%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}

h1 {
  font-size: 1.2rem;
  font-weight: 800
}

#theme-toggle {
  border: none;
  background: inherit;
  color: inherit;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  outline: none;
}

