.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: webkit-fill-available;
  height: 4rem;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 50px
}

#header.dark {
  background-color:  hsl(209, 23%, 22%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.header__Link {
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: none;
  color: inherit;
}

#theme-toggle {
  border: none;
  background: inherit;
  color: inherit;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  outline: none;
  cursor: pointer;

}

@media screen and (max-width:375px) {

  .header {
    padding: 0px 25px
  }
  h1 {
    font-size: 1rem;
  }
}

