.App {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color:hsl(200, 15%, 8%);
  background-color: #fafafa;
  width: fit-content
}

.App.dark {
  color: white;
  background-color: hsl(207, 26%, 17%);
}





